---
layout: default

features:
- icon: fa-gem
  title: Portitor ullamcorper
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: fa-paper-plane
  title: Sapien veroeros
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: solid fa-rocket
  title: Quam lorem ipsum
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
- icon: solid fa-signal
  title: Sed magna finibus
  excerpt: Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.

posts:
- image: /images/work.jpg
  title: Work Experience
  excerpt: I've worked with many awesome companies such as The New Stack, Esper, Mozilla, Armory.io, GitLab, Forbes, Kubernetes & Spinnaker. I currently work at Camunda as a part of their Developer Experience team, which is under the Developer Relations umbrella.
  url: "/work.html"
- image: /images/speaking.jpg
  title: Public Speaking
  excerpt: I absolutely love public speaking, teaching others at exciting events, and meeting lots of new people.
  url: "/speaking.html"
- image: /images/published.jpg
  title: Published Work
  excerpt: Writing is where I got my start in the technology industry. Here you can find many of my published works spanning multiple topics and ecosystems.
  url: "/published.html"
- image: /images/volunteering.jpg
  title: Volunteering
  excerpt: As a member of multiple underrepresented groups and a lover of open source, it's important to me that I support my peers and help others. I have volunteered specifically with LGBTQ+ youth groups, neurodivergent workshops and open source technology projects.
  url: "/volunteering.html"
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Home page

	Description:

		Your site's home page.

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Hi, I'm Rin!<br />
			</h1>
				<p>I'm a non-binary, neurodiverse writer, journalist, producer, speaker, community evangelist, DIY hobbyist, animal lover and candlestick maker (no, really!).</p>
			</header>
			<p>Chances are you've seen me at KubeCon, or on Twitter! Hi! It's nice to meet you..</p>
			<h4>My five year goal list</h4> 
			<ul>
			    <li>Write a successful webcomic</li>
			    <li>Build something that helps neurodivergent folks</li>
			    <li>Get outdoors more</li>
			    <li>Learn to play two new instruments</li>
			</ul>
			<p>I spent four years in new Zealand with my wife, and I absolutely love to travel and meet new people. I am an LGBTQ+ rights and neurodiversity advocate, and I use they/them pronouns.</p>
			<ul class="actions">
				<li><a href="/contact/index.html" class="button large">Contact Me</a></li>
				<li><a href="/images/Rin_Oliver_Resume_2020.pdf" class="button large">Résumé</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="images/kubeconpic.jpg" alt="This is a photo of Rin at KubeCon. They are wearing a KubeCon shirt, and have headphones on. They have teal hair and wear glasses." />
		</span>
	</section>

<!-- Section 
	<section>
		<header class="major">
			<h2>Erat lacinia</h2>
		</header>
		
	</section>
	-->

<!-- Section -->
	<section>
		<header class="major">
			<h2>Experience</h2>
		</header>
		{% include components/posts.html posts=page.posts %}
	</section>
