---
layout: page
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Publishing Credits

	Description:

		Rin Oliver's Publishing Credits

{% endcomment %}

<header class="main">
	<h1>Published Work</h1>
</header>
	
<h4>Forbes</h4>
	<ul>
		<li><a href="https://www.forbes.com/sites/ckoliver/2016/04/30/kiwi-businesses-are-investing-in-new-opportunities-with-big-data-telco/#50b917f47fa3">Kiwi Businesses are Investing in New Opportunities with Big Data & Telco</a></li>
		<li><a href="https://www.forbes.com/sites/ckoliver/2016/04/29/demystifying-containers-for-a-better-devops-experience/#1329cd0e31c5"> Demystifying Containers for a Better DevOps Experience</a></li>
		<li><a href="https://www.forbes.com/sites/ckoliver/#5c58b19c12a7">click for more. </a> </li>

	</ul>
	 
<h4>Kubernetes</h4>
	<ul>
		<li><a href="https://kubernetes.io/blog/2020/05/27/an-introduction-to-the-k8s-infrastructure-working-group/">An Introduction to the K8s-Infrastructure Working Group</a></li>
		<li><a href="https://kubernetes.io/blog/2019/05/02/kubecon-diversity-lunch-and-hack/">2019 KubeCon Diversity Lunch & Hack</a></li>
	</ul>

<h4>The New Stack</h4>
	<ul>
		<li><a href="https://thenewstack.io/how-camunda-automated-dev-releases-to-maven-central/">Camunda: How We Automated Dev Releases to Maven Central</a></li>
		<li><a href="https://thenewstack.io/mozfest-2019s-neurodiversity-space-technology-for-the-people/"</a>MozFest 2019’s Neurodiversity Space: Technology for the People</a>
		<li><a href="https://thenewstack.io/gitlabs-growth-deep-transparency-makes-a-difference/">GitLab's Growth: Deep Transparency Makes a Difference</a></li>
		<li><a href="https://thenewstack.io/leadership-and-inclusion-in-the-open-source-community/">Leadership & Inclusion in the Open Source Community</a></li>
		<li><a href="https://thenewstack.io/author/ckoliver/">click for more.</a></li>
	</ul>

<h4>Spinnaker</h4>
	<ul>
		<li><a href="https://blog.spinnaker.io/digging-into-oss-contribution-with-spinnaker-gardening-days-2020-bc308040587">Digging into OSS Contribution with Spinnaker Gardening Days 2020</a></li>
	</ul>

<h4>Other Published Works</h4>
	<ul>
		<li><a href="https://www.takeshape.io/articles/why-takeshape-works-great-for-web-designers/">Why Takeshape Works Great for Web Designers</a></li>
		<li><a href="https://store.prnewsonline.com/shop/writers-guidebook-vol-2/">The Writer's Guidebook Vol. 2 - It's Not What You Say, it's How You Say it: Mastering the Art of Tone Over Email</a></li>
		<li><a href="https://www.datawire.io/netflix-created-microservices-architecture-stop-system-problems-start"> Microservices at Netflix: Stop System Problems Before they Start</a></li>
		<li><a href="https://blog.esper.io/an-introduction-to-blazor"> An Introduction to Blazor</a></li>

	</ul>
