---
layout: page
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Speaking Credits

	Description:

		Rin Oliver's Public Speaking Credits

{% endcomment %}

<header class="main">
	<h1>Public Speaking</h1>
</header>

<h4>LGBTQ+</h4>
	<ul>	
		<li><a href="https://www.transhack.org/">TransH4ck: What Free Code Camp Taught Me About Community Building - June, 2017</a></li>
	</ul>

<h4>Open Source</h4>
	<ul>
		<li><a href="https://www.mozillafestival.org/en/">MozFest 2019</q>: Smashing the Barriers to OSS Contribution - October, 2019 (<a href="https://www.slideshare.net/CKRinOliver/smashing-the-barriers-to-oss-contribution-187356432">Slides</a>)</li> 

		<li><a href="https://events19.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/">Kubernetes Contributor Summit 2019</a>: Breaking Down Barriers to Kubernetes Contribution for Neurodiverse Community Members - November 2019 (<a href="https://static.sched.com/hosted_files/kcsna2019/05/Breaking%20Down%20Barriers%20to%20Kubernetes%20Contribution%20for%20Neurodivergent%20Individuals%20%282%29.pdf">Slides</a>)</li>

		<li><a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/">KubeCon Europe 2020</a>: Neuro-Inclusivity: The Future of Tech - August 2020 (<a href="https://kccnceu20.sched.com/event/ZekX/neuro-inclusivity-the-future-of-the-tech-industry-kiran-rin-oliver-gitlab-leena-haque-bbc">Slides available on Sched</a>)</li>
	</ul>

		<li><a href="https://www.dianainitiative.org">The Diana Initiative 2020</a> Breaking Down Barriers to InfoSec for Neurodivergent Individuals - August 2020<a href="https://tdi2020.sched.com/event/dh1Y/breaking-down-barriers-to-infosec-for-neurodivergent-individuals">Slides available on Sched</a></li>
	</ul>

	<li><a href="https://www.dianainitiative.org">SANS Institute Cyber Camp 2020</a> Cybersecurity Career Success for Neurodivergent Individuals <a href="https://www.sans.org/cyber-camp">Slides available on Sched</a></li>
	</ul>
<br>
<h4>Presentations Given in 2021:</h4>
<ul>
<li>2/9/2021 - Data on Kubernetes: Getting Started Contributing to K8s, co-presented with Savitha Raghunathan, Senior Platform Engineer @ MathWorks</li>
<li>3/8/2021 - Mozilla Festival: Creating Equitable Digital Spaces for Neurodivergent Individuals</li>
<li>3/5/2021 - DevOpsDays Texas: Tips & Tricks for Working Remotely for Neurodivergent DevOps Professionals</li>
<li>3/16/2021 - Kubernetes Meetup Austin: Combatting Burnout in OSS</li>
<li>4/25/2021 - Writing Documentation with Neurodivergent Open Source Contributors In Mind </li>
<li>6/5/2021 - DevRel Con Tokyo </li>
<li>6/7/2021 - Closing Keynote: The Diana Initiative 2021 </li>
<li>10/11/2021 - Cloud Native DevX Day 2021: Building Secure Open Source Communities from the Ground Up </li>
<li>10/13/2021 - KubeCon NA 2021: Putting into Practice the Skills You've Learned Contributing to Kubernetes </li>\
<li>10/18/21 - All Things Open 2021: Community Repositories: Why You Need One for Your Open Source Project </li>
