---
layout: page
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Volunteering, Board Membership, & Internships

	Description:

		Rin Oliver's Volunteering, Board Membership, and Internship Experience

{% endcomment %}

<header class="main">
	<h1>Volunteering & Internships</h1>
</header>

<span class="image main"><img src="{{ site.baseurl }}/images/pic11.jpg" alt="" /></span>

<h2> Advisory Board Member </h2>

<li><a href="https://www.dianainitiative.org/"> The Diana Initiative</a> - FY 2021</li>
<li><a href="https://www.dianainitiative.org/"> The Diana Initiative</a> - FY 2022</li>

<h2> Volunteering </h2>

<li><a href="http://www.stayawhilecatshelter.org/"> Stay a While Cat Shelter </a></li>
<li><a href="http://www.philipbeesleyarchitect.com/sculptures/1016_The_Leonardo/index.php"> Installation Volunteer, Hylozolic Veil </a> </li>
<li> <a href="https://www.cigsya.org/CIGSYA_House_-_English/Welcome.html"> Youth Coordinator </a></li>

<h2> Internships: </h2>

<li> <a href="https://www.masstpc.org/"> Public Relations Intern </a></li>
<li> <a href="https://learninggamesnetwork.org/"> Web Content & Outreach Intern </a></li>


