---
layout: page
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Rin Oliver's Work Experience

	Description:

		Rin Oliver's Work Experience

{% endcomment %}

<header class="main">
	<h1>Work Experience</h1>
</header>

<p>I've worn many hats over the years, from PR, to marketing, production, content, and more. Here are some of the projects I've worked on in the past, and what I'm looking for in the future.</p>

<hr class="major" />

<h2>Past Work</h2>
<p>From 2015-2017 I was at The New Stack as a freelance technology journalist. In 2017, I accepted a full time role at TNS as their podcast and livestream producer, where I remained until October of 2019. 

I also worked at GitLab in the beginning of 2020 as a Digital Media Producer, where I learned to edit video, and formed an ERG to support gender minorities in the workplace. From April 2020 to July 2020 I co-produced <a href="https://popcast-d9f7b6dc.simplecast.com/">the POPCAST with Dan 'Pop' Papandrea</a>, which is pretty awesome if I do say so myself.

As of May 2020, I not only started my own <a href="https://starcrossedsundries.com/"> small business </a> alongside my wife I also took on work at <a href="https://www.armory.io/">Armory</a> and <a href="https://fixate.io/">Fixate.io</a> as a freelance technology journalist amd content creator.</p>

From August--December 2020 I was a part of the wonderful team at <a href="https://esper.io">Esper</a>, working as a Platform Evangelist.

To go further back in my work history, feel free to check out my <a href="https://www.linkedin.com/in/ckoliver/">LinkedIn profile.</a>
</p>

<hr class="major" />

<h2>Present</h2>
I am presently [as of January 2021] working at <a href="https://camunda.com/">Camunda</a>, as a Technical Community Builder on the Developer Experience team. To say this is a wonderful team full of amazing people would be an understatement! :) I am thrilled to be a part of such a wonderful organization and look forward to the future.
<p> 
