---
layout: page
---

{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Generic page

	Description:

		A generic content page.

{% endcomment %}

<header class="main">
	<h1>Contact me</h1>
</header>
<!-- Form -->
	<h3>Get in touch</h3>

	<form method="post" action="mailto:ck@ckoliver.com">
		<div class="row gtr-uniform">
			<div class="col-6 col-12-xsmall">
				<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
			</div>
			<div class="col-6 col-12-xsmall">
				<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
			</div>
			<!-- Break -->
			<div class="col-6 col-12-small">
				<input type="checkbox" id="demo-human" name="demo-human" unchecked>
				<label for="demo-human">I am a human</label>
			</div>
			<!-- Break -->
			<div class="col-12">
				<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="10"></textarea>
			</div>
			<!-- Break -->
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="primary" /></li>
				</ul>
			</div>
		</div>
	</form>
