{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Header

	Description:

		Site header.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header">
		<a href="{{ site.baseurl }}/" class="logo">
			<strong>{{ site.title }}</strong> {{ site.tagline }}
		</a>
		<ul class="icons">
			<li><a href="https://twitter.com/kiran_oliver" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.linkedin.com/in/ckoliver/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
		</ul>
	</header>