{% comment %}

	Editorial by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Sidebar

	Description:

		Site navigation, related content, and contact info.

	Example:

		{% include layout/sidebar.html %}

{% endcomment %}

<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

			<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

			<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="{{ site.baseurl }}/">Homepage</a></li>
						<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
						<!-- <li><a href="{{ site.baseurl }}/generic.html">Generic</a></li>
						<li><a href="{{ site.baseurl }}/elements.html">Elements</a></li> -->
						<li>
							<span class="opener">Experience</span>
							<ul>
								<li><a href="/work.html">Work Experience</a></li>
								<li><a href="/speaking.html">Public Speaking</a></li>
								<li><a href="/published.html">Published Work</a></li>
								<li><a href="/volunteering.html">Volunteering</a></li>
							</ul>
						</li>
					</ul>
				</nav>

			<!-- Section -->
				<!-- <section>
					<header class="major">
						<h2>Ante interdum</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic07.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic08.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
						<article>
							<a href="#" class="image"><img src="{{ site.baseurl }}/images/pic09.jpg" alt="" /></a>
							<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</section> -->

			<!-- Section -->
				<section>
					<header class="major">
						<h2>Contact Info</h2>
					</header>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="mailto:ck@ckoliver.com">ck@ckoliver.com</a></li>
						<li class="icon solid fa-home">Alexandria, LA</li>
					</ul>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Rin Oliver. All rights reserved.</p>
				</footer>

		</div>
	</div>
